# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\零之启\miniapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
